<div id="header">
  <a id="logo" href="<%- url_for("/modern-cpp/") %>">
    <img src="<%- url_for("/modern-cpp/assets/cover-2nd.png") %>">
    <span>高速上手 C++ 11/14/17</span><sup class="beta">beta</sup>
  </a>
  <ul id="nav">
    <%- partial('partials/main_menu', { context: 'nav' }) %>
  </ul>
</div>
