<ul class="menu-root">
  <% site.pages.find({type: type}).sort('order').each(function (p) { %>
    <li>
      <a href="<%- url_for(p.path) %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
    </li>
  <% }) %>
</ul>
