$header-height = 40px

#header
  background-color: $theme
  height: $header-height
  padding: $heading-padding-vertical 60px
  position: relative
  z-index: 2

body.docs
  #header
    position: fixed
    width: 100%
    top: 0
    left: 0
    right: 0
    bottom: 0
    padding: 10px
  #nav
    position: fixed
  #logo
    margin-left: 20px
    margin-right: 20px
  #logo span
    font-size: 1.2em
  #logo img
    margin-top: -6px
  #mobile-bar::before
    content: attr(data-bg-text)
    text-align: center
    color: #fff
    display: block
    line-height: 1
    position: absolute
    margin-top: 12px
    font-size: 2em
    width: 100%

#nav
  list-style-type: none
  margin: 0
  padding: 0
  position: absolute
  right: 30px
  top: $heading-padding-vertical
  height: $header-height
  line-height: $header-height
  .break
    display: none
  li
    display: inline-block
    position: relative
    margin: 0 .6em
    margin-right: 30px

  .nav-dropdown
    .nav-link
      &:hover, &.current
        border-bottom: none
      &.current
        &::after
          content: ""
          width: 0
          height: 0
          border-left: 5px solid $theme
          border-top: 3px solid transparent
          border-bottom: 3px solid transparent
          position: absolute
          top: 50%
          margin-top: -4px
          left: 8px

.nav-link
  padding-bottom: 3px
  &:hover, &.current
    border-bottom: 3px solid $theme
  &.team
    margin-left: 10px

.new-label
  position: absolute
  top: 3px
  left: 110%
  background-color: $theme
  color: #fff
  line-height: 16px
  height: 16px
  font-size: 9px
  font-weight: bold
  font-family: $code-font
  padding: 1px 4px 0 6px
  border-radius: 4px

#logo
  display: inline-block
  font-size: 1.5em
  line-height: $header-height
  color: #fff
  font-family: $logo-font
  font-weight: 500
  img
    vertical-align: middle
    margin-right: 6px
    height: $header-height
    border-radius: 2px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.4);
    overflow:hidden;
#mobile-bar::before
  content: attr(data-bg-text)
  text-align: center
  color: #fff
  display: block
  line-height: 1
  position: absolute
  margin-top: 12px
  font-size: 2em
  width: 100%
#mobile-bar
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 50px
  background-color: $theme;
  z-index: 100
  display: none
  box-shadow: 0 0 2px rgba(0,0,0,.25)
  font-size: 0.9em
  .menu-button
    position: absolute
    width: 24px
    height: 24px
    top: 14px
    left: 12px
    background: url(../assets/menu.png) center center no-repeat
    background-size: 24px
  .logo
    position: absolute
    width: 25px
    height: 30px
    background: url(../assets/cover-2nd-en-logo.png) center center no-repeat
    background-size: auto 100%
    top: 12px
    right: 12px
    margin-left: -15px
